<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog_Post</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/main.css" />
  </head>

  <body>
    <div class="nav_Bar header">
      <form action="/" method="get" class="f_one">
        <button type="button" class="threeL btn">
          <img
            src="/image/threeL6.png"
            alt="Description of the image"
            height="30px"
            width="30px"
          />
        </button>
        <input type="submit" value="BLOG POST " class="hid btn" />
        <input type="submit" value="Contact " class="hid btn" disabled />
        <input type="submit" value="About " class="hid btn" disabled />
      </form>

      <form action="/creat" method="POST">
        <input type="submit" value="WRITE POST" class="btn" id="w_post" />
      </form>
    </div>
    <script src="/style/script.js"></script>
  </body>
</html>
